# Node.js dependencies (for both frontend & backend)
node_modules/

# Build and distribution folders
kcal-app/build/
kcal-app/.wrangler/
kcal-api/dist/
kcal-api/.wrangler/

# Environment variables
.env
kcal-app/.env
kcal-api/.env
kcal-api/adc.json

# Cache and logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Other
kcal-api/database.sqlite
database-backup.sqlite
kcal-app/src/apiDomain.js
kcal-app/dbexport.sql
todo.txt
runServer.bat
runApp.bat
runKcalCounter.bat