# Node.js dependencies (for both frontend & backend)
node_modules/

# Build and distribution folders
kcal-app/dist/
kcal-app/build/
kcal-app/.wrangler/

# Environment variables
.env
kcal-app/.env
kcal-api/.env
kcal-api/adc.json

# Cache and logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Deployment
kcal-app/wrangler.toml
kcal-api/wrangler.toml

# Database
kcal-api/dbexport.sql
kcal-api/db_current.sql
kcal-api/migration.js

# Other
todo.txt
runServer.bat
runApp.bat
runKcalCounter.bat