# Node.js dependencies (for both frontend & backend)
node_modules/

# Build and distribution folders
kcal-app/build/
kcal-api/dist/

# Environment variables
.env
kcal-app/.env
kcal-api/.env

# Cache and logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Other
kcal-api/database.sqlite
todo.txt