.qty-spinner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  height: 100%;
  gap: 0;
  top: 0;
  right: 2%;
  z-index: 2;
}
  
.qty-spinner button{
  border: none;
}

.qty-spinner svg:hover{
  fill: var(--GREEN);
}