.password-eye {
  position: absolute;
  align-content: center;
  justify-content: center;
  height: 100%;
  top: 0;
  right: 2%;
  z-index: 2;
}

.password-eye button{
  height: 100%;
  display: flex;
  border: none;
  background: transparent;
}
