/* Every cell */
#todays-foods-table div div {
    border: 1px solid var(--PINK);
}

#todays-foods-table div div:first-child,
#todays-foods-table form div:first-child {
    border-left: none;
}

#todays-foods-table div div:last-child,
#todays-foods-table form div:last-child {
    border-right: none;
}

#todays-foods-table:last-child div{
    border-bottom: none;
}