:root{
  /* COLORS */
  --PINK: #B6174B;
  --BLUE: #9ee0ff;
  --GREEN: #193700;
  --BRIGHT-BLUE: #49FFFF;
  --BLUE-FADED: #d6f2ff;

  /* Backgrounds */
  --COLOR-HEADER-FOOTER: var(--PINK);

  /* Text */
  --COLOR-TEXT-HIGHLIGHT: var(--BRIGHT-BLUE);
  --COLOR-TEXT-LIGHT: whitesmoke;
  --COLOR-TEXT-DARK: black;

  /* SPACING */
  --PADDING-PAGE-TOPBOTTOM: 5vh;
  --PADDING-PAGE-LEFTRIGHT: 20vw;

  --PADDING-PAGE:  var(--PADDING-PAGE-TOPBOTTOM) var(--PADDING-PAGE-LEFTRIGHT);
  
}

/* FOR MOBILE DEVICES */
@media only screen and (max-width: 767px){

}

/* FOR MOBILE AND TABLET DEVICES */
@media only screen and (max-width: 1024px){
    :root{
        --PADDING-PAGE-LEFTRIGHT: 5vw;
    }
}

/* FOR TABLET DEVICES */
@media only screen and (min-width: 768px) and (max-width: 1023px){

}

/* FOR DESKTOP DEVICES */
@media only screen and (min-width: 1024px){
    :root{
        --PADDING-NAV: 0 5vw;
    }
}

/* UTILITY CLASSES */
.bg-pink{
  background-color: var(--PINK);
  color: var(--COLOR-TEXT-LIGHT);
}

.bg-blue{
  background-color: var(--BLUE);
  color: var(--COLOR-TEXT-DARK);
}

.bg-white{
  background-color: white;
  color: var(--COLOR-TEXT-DARK);
}

.border-pink{
  border: 4px solid var(--PINK);
}

.data-table{
  overflow: hidden;
}

.cell-border-pink .cell-content{
  border: 1px solid var(--PINK);
}

/* Inputs */
input.form-control,
select.form-select{
  transition: all 0.2s;
}

input.form-control:focus,
select.form-select:focus{
  box-shadow: none;
  border: 1px solid var(--PINK);
  background-color: var(--BLUE-FADED);
}

input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button { 
    -webkit-appearance: none;
}

.qty-spinner{
  width: 20px;
}

/* GENERAL SELECTORS */
.page{
  min-height: 88vh;
  text-align: center;
  padding: var(--PADDING-PAGE);
}

.button{
  border: 2px solid var(--PINK);
  background-color: white;
  color: var(--COLOR-TEXT-DARK);
  border-radius: 12px;

  transition: all 0.3s ease;
}

.button:hover,
.button:focus{
  background-color: var(--BLUE);         
}

input.form-control,
select.form-control {
  border-color: var(--PINK)
}