:root{
  /* COLORS */
  --PINK: #B6174B;
  --BLUE: #9EE0FF;
  --BRIGHT-BLUE: #49FFFF;

  /* Backgrounds */
  --COLOR-HEADER-FOOTER: var(--PINK);

  /* Text */
  --COLOR-TEXT-HIGHLIGHT: var(--BRIGHT-BLUE);
  --COLOR-TEXT-LIGHT: whitesmoke;
  --COLOR-TEXT-DARK: black;

  /* SPACING */
  --PADDING-PAGE-TOPBOTTOM: 5vh;
  --PADDING-PAGE-LEFTRIGHT: 20vw;

  --PADDING-PAGE:  var(--PADDING-PAGE-TOPBOTTOM) var(--PADDING-PAGE-LEFTRIGHT);
  
}

/* FOR MOBILE DEVICES */
@media only screen and (max-width: 767px){

}

/* FOR MOBILE AND TABLET DEVICES */
@media only screen and (max-width: 1024px){
    :root{
        --PADDING-PAGE-LEFTRIGHT: 5vw;
    }
}

/* FOR TABLET DEVICES */
@media only screen and (min-width: 768px) and (max-width: 1023px){

}

/* FOR DESKTOP DEVICES */
@media only screen and (min-width: 1024px){
    :root{
        --PADDING-NAV: 0 5vw;
    }
}

/* UTILITY CLASSES */
.bg-pink{
  background-color: var(--PINK);
  color: var(--COLOR-TEXT-LIGHT);
}

.bg-white{
  background-color: white;
  color: var(--COLOR-TEXT-DARK);
}

.border-pink{
  border: 4px solid var(--PINK);
}

/* GENERAL SELECTORS */
.page{
  height: 88vh;
  text-align: center;
  padding: var(--PADDING-PAGE);
}

input.form-control,
select.form-control {
  border-color: var(--PINK)
}